.container {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.form {
  flex-grow: 1;
  display: flex;
}

.input {
  flex-grow: 1;
  border: 1px solid #000;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}

.button {

}